# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Editor / Vim
*.swp
*.swo
*~

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
